.information{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eceff1;
    border-radius: 20px;
    padding: 25px;
}

.coluna{
    text-align: center;

}

h3{
    font-size: 24px;
    font-weight: 200;
    color: #000;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: #6c63ff;
}

