.container{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search{
    display: flex;
    justify-content: center;
}

input{
    font-size: 15px;
    color: #2c2c2c;
    padding: 13px;
    width: 84%;
    border-radius: 15px 0px 0px 15px;
    border: none;
    outline: none;
}

.botao{
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    background-color: #6c63ff;
    color: white;
    border: none;
    outline: none;
}

.botao:hover{
    transition: 0.2s;
    background-color: #2a267a;
}

img{
    padding: 0px;
    margin-right: 5;
    width: 150px;
    
}

.temperature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #eceff1;
    border-radius: 20px;
    padding: 5px;
    font-family: "Oswald", sans-serif;
}

.Temp{
    padding: 10px;
    border-right: 5px solid #6c63ff;
    text-align: center;
}

h2{
    font-size: 60px;
    color: #6c63ff;
}

h3{
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

p{
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 600px;
    margin: auto;
  }

  .temperature{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .Temp{
    border-right: none;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
  }

  input {
    width: 100%;
  }
}

/* Desktop (a partir de 1024px) */
@media (min-width: 1024px) {
  .container {
    width: 600px;
    margin: auto;
  }


  input {
    width: 100%;
  }
}

